.scoreBoard {
  position: fixed;
  top: 100px;
  left:100px;
}

.resultsTable{
  position: fixed;
  bottom: 100px;
  right:100px;
  font-size: 200%;
}
.hidden { 
  display: none 
}

.atBat{
  position: fixed;
  bottom: 100px;
  left:100px;
}

.playerName{
  margin-left: auto;
  margin-right: auto;
}

.hitDialog{
  font-size: 200%;
}

.fieldLayout{
  position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
	z-index: -1;
}

.summaryField{
  width: 300px;
  height: 300px;
  z-index: -1;
}

.firstBase{
  position: absolute;
  margin:auto;
  left:490px;
  right:0;
  top:0;
  bottom:0;
}

.oneToTwo{
  position: absolute;
  margin:auto;
  left:258px;
  right:0;
  top:0;
  bottom:185px;
  visibility:hidden;
}

.secondBase{
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:340px;
}

.twoToThree{
  position: absolute;
  margin:auto;
  left:0;
  right:300px;
  top:0;
  bottom:218px;
  visibility:hidden;
}

.thirdBase{
  position: absolute;
  margin:auto;
  left:0;
  right:490px;
  top:0;
  bottom:0;
}

.threeToFour{
  position: absolute;
  margin:auto;
  left:0;
  right:305px;
  top:200px;
  bottom:0;
  visibility:hidden;
}

.homePlate{
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top:340px;
  bottom:0;
}

.outLabel{
  position: absolute;
  top: 100px;
  left: 120px;
  font-size: 200%
}

.playerData{
  position: relative;
}

table{
	width:100px;
	font-size: 200%;
    border: 1px solid red;
}


input[type=checkbox] {
	width:24px; height:24px;
}


button{
	font-size: 75%;
}