.scoreBoard {
  position: fixed;
  top: 150px;
  left:50px;
}

.resultsTable{
  position: fixed;
  bottom: 50px;
  right:50px;
  font-size: 200%;
}

.finishGame{
  position: fixed;
  top: 100px;
  right: 100px;
  font-size: 400%;
}
.hidden { 
  display: none 
}

.atBat{
  position: fixed;
  bottom: 50px;
  left:50px;
}

.playerName{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.hitDialog{
  font-size: 120%;
}

.stealDialog{
  font-size: 120%;
}

.otherRunnerDialog{
  font-size: 120%;
}

.ui-dialog { z-index: 1000 !important ;}

.fieldLayout{
  position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 100px;
    bottom: 0; 
	z-index: -1;
}

.summaryField{
  width: 300px;
  height: 300px;
  z-index: -1;
}

.firstBase{
  position: absolute;
  margin:auto;
  left:490px;
  right:0;
  top:100px;
  bottom:0;
}

.oneToTwo{
  position: absolute;
  margin:auto;
  left:258px;
  right:0;
  top:0;
  bottom:95px;
  visibility:hidden;
}

.secondBase{
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top:100px;
  bottom:340px;
}

.twoToThree{
  position: absolute;
  margin:auto;
  left:0;
  right:300px;
  top:0;
  bottom:120px;
  visibility:hidden;
}

.thirdBase{
  position: absolute;
  margin:auto;
  left:0;
  right:490px;
  top:100px;
  bottom:0;
}

.threeToFour{
  position: absolute;
  margin:auto;
  left:0;
  right:305px;
  top:300px;
  bottom:0;
  visibility:hidden;
}

.homePlate{
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top:440px;
  bottom:0;
}

.outLabel{
  position: absolute;
  top: 110px;
  left: 110px;
  font-size: 200%;
  color: red;
  font-weight: bold;
}

.toFirstLabel{
  position: absolute;
  top: 190px;
  left: 180px;
}

.toSecondLabel{
  position: absolute;
  top: 90px;
  left: 180px;
}

.toThirdLabel{
  position: absolute;
  top: 90px;
  left: 80px;
}

.toHomeLabel{
  position: absolute;
  top: 190px;
  left: 80px;
}

.playerData{
  position: relative;
}

table{
	width:100px;
	font-size: 200%;
    border: 1px solid red;
}


input[type=checkbox] {
	width:24px; height:24px;
}


button{
	font-size: 75%;
}